<div class="container" *ngIf="status$ | async as status">
  <ng-container *ngIf="formState$ | async as formState">
    <form [ngrxFormState]="formState" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <mat-form-field>
          <mat-label>Email or username</mat-label>
          <input
            matInput
            placeholder="Email or username"
            [ngrxFormControlState]="formState.controls.username"
            [disabled]="status?.type === stateStatusType.Loading"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            [ngrxFormControlState]="formState.controls.password"
            [disabled]="status?.type === stateStatusType.Loading"
          />
        </mat-form-field>
      </div>

      <div class="buttons-container">
        <button
          type="submit"
          class="auth-button"
          mat-raised-button
          color="primary"
          [disabled]="
            formState.isPristine || formState.isInvalid || status?.type === stateStatusType.Loading
          "
        >
          {{ submitBtnText }}
        </button>
      </div>

      <mat-spinner class="overlay" *ngIf="status?.type === stateStatusType.Loading"></mat-spinner>
    </form>
  </ng-container>
</div>
